/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * Adapted for 'On feedback'
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: white; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #1e1e1e;
  background-color: #1e1e1e; }

.reveal {
  font-family: Arial, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #ffffff; }

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }


 html.semiblur .slide-background {
   background-position: center;
   background-repeat: no-repeat;
   background-blend-mode: lighten;
   background-color: rgba(255, 255, 255, 0.1) !important;
 }

 html.blur .slide-background {
   background-position: center;
   background-repeat: no-repeat;
   background-blend-mode: lighten;
   background-color: rgba(255, 255, 255, 0.7) !important;
 }

 /*********************************************
  * HEADERS
  *********************************************/
  .reveal h0 {
  margin: 0 0 20px 0;
  font-weight: 600;
  line-height: 1.4;
  font-size: 2.8em;
  }

 .reveal h1 {
 margin: 0 0 20px 0;
 font-weight: 600;
 line-height: 1.4;
 font-size: 1.6em;
 }


 .reveal h2 {
   margin: 0 0 20px 0;
   font-weight: 300;
   line-height: 1.6;
   font-size: 1.2em;
 }

 .reveal h3 {
   margin: 0 0 20px 0;
   font-weight: 600;
   line-height: 1.6;
   font-size: 1.2em;
 }

 .reveal h4 {
     margin: 0 0 20px 0;
     font-weight: 300;
     line-height: 1.6;
     font-size: 1.2em;
     font-style: italic;
 }

 .reveal h5 {
   margin: 0 0 20px 0;
   text-align: left;
   font-weight: 300;
   line-height: 1.8;
   font-size: 1 em;
 }

 .reveal h6 {
   margin: 0 0 20px 0;
   font-weight: 300;
   line-height: 1.2;
   text-align: left;
 }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

  .reveal .slides,
  .reveal .slides > section,
  .reveal .slides > section > section {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    display: inline-block;
  }

  .reveal .slides section .fragment.fade-out {
    opacity: 1;
    visibility: inherit;
  }

  .reveal .slides section .fragment.fade-out.visible {
    display: none;
  }

  .reveal .slides section .fragment.visible {
    opacity: 1;
    visibility: inherit;
  }

  .reveal .slides section .fragment.lightgreen {
    opacity: 1;
  	visibility: inherit;
  }

  .reveal .slides section .fragment.lightgreen.visible {
    color: #7cff9b;
  }

  .reveal .slides section .fragment.fadegreen {
    color: #3dff6a;
    opacity: 1;
    visibility: inherit;
  }
  .reveal .slides section .fragment.fadegreen.visible {
    opacity: 1;
    color: white;
  }

  .smallest {
    font-size: 50% !important;
  }

  .smaller {
    font-size: 70% !important;
  }

  .small {
    font-size: 85% !important;
  }

  .front {
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    bottom: 10%;
    text-align: left;
  }

  .intro {
    text-align: left;
    color: black;
    position: relative;
    margin-top: 5% !important;
  }

  .content {
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 7%;
    transform: translate(0, -50%);
  }

  .centered {
    display: block;
    vertical-align: middle;
    position: relative;
    text-align: center;
    top: 10%;
    transform: translate(0, -10%);
  }

  .grid {
    position: relative;
    display: block;
    top: 40%;
  }

  .gridcolumn, .centeredgridcolumn {
    display: table-cell;
  }

  .centeredgridcolumn {
    vertical-align: middle !important;
  }

  header {
    font-size: 1.3em !important;
    margin: 0 0 20px 0;
    color: #254b8e;
    font-weight: 300 !important;
    text-align: left;
    line-height: 1.2 !important;
    font-style: italic !important;
    font-family: Arial, sans-serif;
  }

  .subheader {
    font-size: 85% !important;
    color: #254b8e;
    font-weight: 300 !important;
    text-align: left;
    line-height: 1.2 !important;
    letter-spacing: normal;
    text-transform: none;
    text-shadow: none;
    word-wrap: break-word;
    font-family: Arial, sans-serif;
    font-style: italic !important;
    margin-top: 20px !important;
  }

  .quote {
    color: #1F407A;
    text-align: right;
  }

  .fade-out {
       opacity: 0.2; }

  .orange {
      color: #ffa366;
      text-align: left;
  }

  .blue {
      color: #99e6ff;
      text-align: left;
  }
  .green {
      color: #7cff9b;
      text-align: left;
  }

  .pink {
      color: #ff389b;
      text-align: left;
  }

  .yellow {
      color: #f6ff00;
      text-align: left;
  }

  .darkred {
      color: rgb(218, 37, 37);
      text-align: left;
  }

  .red {
      color: red;
  }

  .black {
      color: black;
  }

  .left{
      text-align: left;
  }

  .right{
      text-align: right;
  }
/*********************************************
 * COLUMNS
 *********************************************/

 .column,
 .columns {
   width: 100%;
   float: left;
   box-sizing: border-box;
 }

 .container {
   width: 80%;
 }

 .column,
 .columns {
   margin-left: 4%;
 }

 .column:first-child,
 .columns:first-child {
   margin-left: 0;
 }

 .one.column,
 .one.columns {
   width: 4.66666666667%;
 }

 .twohalf.columns {
   width: 16.666666666667%;
 }

 .two.columns {
   width: 9.333333333333%;
   text-align: left;
 }

 .three.columns {
   width: 22%;
 }

 .four.columns {
   width: 25%;
 }

 .five.columns {
   width: 39.3333333333%;
 }

 .six.columns {
   width: 48%;
 }

 .seven.columns {
   width: 56.6666666667%;
 }

 .eight.columns {
   width: 65.3333333333%;
 }

 .nine.columns {
   width: 74.0%;
 }

 .ninehalf.columns {
   width: 78.0%;
 }

 .ten.columns {
   width: 82.6666666667%;
 }

 .eleven.columns {
   width: 91.3333333333%;
 }

 .twelve.columns {
   width: 100%;
   margin-left: 0;
 }

 .one-third.column {
   width: 30.6666666667%;
 }

 .two-thirds.column {
   width: 65.3333333333%;
 }

 .one-half.column {
   width: 48%;
 }

 /* Offsets */
 .offset-by-one.column,
 .offset-by-one.columns {
   margin-left: 8.66666666667%;
 }

 .offset-by-two.column,
 .offset-by-two.columns {
   margin-left: 17.3333333333%;
 }

 .offset-by-three.column,
 .offset-by-three.columns {
   margin-left: 26%;
 }

 .offset-by-four.column,
 .offset-by-four.columns {
   margin-left: 34.6666666667%;
 }

 .offset-by-five.column,
 .offset-by-five.columns {
   margin-left: 43.3333333333%;
 }

 .offset-by-six.column,
 .offset-by-six.columns {
   margin-left: 52%;
 }

 .offset-by-seven.column,
 .offset-by-seven.columns {
   margin-left: 60.6666666667%;
 }

 .offset-by-seven-and-half.column,
 .offset-by-seven-and-half.columns {
   margin-left: 64%;
 }

 .offset-by-eight.column,
 .offset-by-eight.columns {
   margin-left: 69.3333333333%;
 }

 .offset-by-nine.column,
 .offset-by-nine.columns {
   margin-left: 78.0%;
 }

 .offset-by-ten.column,
 .offset-by-ten.columns {
   margin-left: 86.6666666667%;
 }

 .offset-by-eleven.column,
 .offset-by-eleven.columns {
   margin-left: 95.3333333333%;
 }

 .offset-by-one-third.column,
 .offset-by-one-third.columns {
   margin-left: 34.6666666667%;
 }

 .offset-by-two-thirds.column,
 .offset-by-two-thirds.columns {
   margin-left: 69.3333333333%;
 }

 .offset-by-one-half.column,
 .offset-by-one-half.columns {
   margin-left: 52%;
 }


/*********************************************
 * IMAGES
 *********************************************/

 .reveal section img {
   margin: 0 0;
   background: rgba(255, 255, 255, 0);
   border: 0px;
   box-shadow: 0 0 0 0;
}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #3dff6a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #7cff9b; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #7cff9b; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
